[Desktop Entry]
Icon=/home/pi/FortiusANT/pythoncode/FortiusAnt.ico
Name=FortiusAnt
Exec=/home/pi/FortiusANT/raspberry/FortiusAntMenue.sh
Type=Application
Path=/home/pi/FortiusANT/raspberry/
GenericName=TACX Trainer
Comment[en_GB]=Roll On
StartupNotify=true
Terminal=true
X-KeepTerminal=true